footer.footer
    ul.footer__nav
        li: a(href="#") About Us
        li: a(href="#") Download apps
        li: a(href="#") Carrers
        li: a(href="#") Contact Us
    p.footer__copyright &copy; by 
        a.footer__copyright(href="https://debiprasadmishra.net", target="_blank") Debi Prasad Mishra